@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(192, 44, 192);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow: hidden;
}

.btn {
    background: rebeccapurple;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    margin: 1.5rem;
    border-radius: 5px;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.9);
}